html {
  scroll-behavior: smooth;
}

.mainpage {
  display: flex;
}

.sidebar{
 margin-right: 10em;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.programming-img>img {
  height: 10em;
  margin-left: 1em;
}

.job-header, .degree-header {
  display: flex;
  justify-content: space-between;
}

.job-header>h2, .degree-header>h2 {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
.company-name, .school-name {
  margin-top: 0;
}
.degree, .job {
  padding: 1em;
}

.degree-header > h2, .degree > h3 {
  cursor: default;
}

.degree:hover, .job:hover {
  background-color: aquamarine;
  border-radius: 25px;
}

.has_link {
  cursor: pointer; 
}

.skills {
  display: flex;
}
.skill {
  border: 1px solid black;
  padding: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 25px;
}

.projects-container {
  display: flex;
  justify-content: center;
}
.project {
  text-align: center;
  height: 25%;
  width: 25%;
}
.img-container {
  position: relative;
  cursor: pointer; 
}
.img-container>img {
  max-width: 100%;
  border-radius: 2rem
}
.blur-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  top: 0%;
  opacity: 0;
  border-radius: 2rem
}

.blur-container:hover{
 opacity: 1;
 -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
